<nav class="navbar navbar-expand navbar-light bg-light">

    <div class="container">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle botaoHover" routerLink="" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Todos os departamentos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item botaoHover" routerLink="busca/categoria/celulares">Celulares</a></li>
                    <li><a class="dropdown-item botaoHover" routerLink="busca/categoria/notebooks">Notebooks</a></li>
                    <li><a class="dropdown-item" routerLink="busca/categoria/smartwatches">Smartwatches</a></li>
                    <li><a class="dropdown-item" routerLink="busca/categoria/foneouvido">Fones de ouvido</a  ></li>
                    <li><a class="dropdown-item" routerLink="">Veja os lançamentos</a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="">Sobre nós</a></li>
                    <li><a class="dropdown-item" routerLink="faleconosco">Fale conosco</a></li>
                </ul>
            </li>

            <li class="nav-item displayItens2">
                <a class="nav-link botaoHover" routerLink="">Lançamentos</a>
            </li>
            <li class="nav-item displayItens2">
                <a class="nav-link botaoHover" routerLink="busca/categoria/celulares">Celulares</a>
            </li>
            <li class="nav-item displayItens2">
                <a class="nav-link botaoHover" routerLink="busca/categoria/notebooks">Notebooks</a>
            </li>
            <li class="nav-item displayItens2">
                <a class="nav-link botaoHover" routerLink="busca/categoria/smartwatches">Smartwatches</a>
            </li>
            <li class="nav-item displayItens2">
                <a class="nav-link botaoHover" routerLink="busca/categoria/foneouvido">Fones de ouvido</a>
            </li>
        </ul>
        <ul class="navbar-nav displayItens1">
            <li class="nav-item"><a class="nav-link botaoHover" routerLink="">Sobre nós</a></li>

            <li class="nav-item"><a class="nav-link botaoHover" routerLink="faleconosco">Fale conosco</a></li>
        </ul>
    </div>
</div>
</nav>
